@model Dommy.Business.Tile
@{
    Layout = null;
}

<div class="tile @Model.Color.ToString().LowerFirstChar()">
    <div class="borderColor backColor @(Model.Size.ToString().LowerFirstChar())">
        <div class="back">
            <span class="id" style="visibility:collapse">@Model.Id</span>
            <span class="url" style="visibility:collapse">@Model.Url</span>
            <div class="title">@Model.Title</div>
            <div class="content">

                @{Html.RenderAction("TileRender", new { TileId = Model.Id });}

            </div>
        </div>
    </div>
</div>